{% extends 'base.html' %}

{% block content %}
  <h3>Upload a balance sheet</h3>
  <form method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    <label>Query Variable</label>
    <input type="text" name="query_variable" ><br><br>
    <label>Query Year</label>
    <input type="number" name="query_year"><br><br>
      <label>Please upload balance sheet </label>
    <input type="file" name="document"><br><br>
    <button type="submit">Submit</button>
  </form>
    {% if error %}
        <p>Error during file upload: {{ error }}</a></p>
    {% elif filename %}
        <p>Uploaded file: {{ filename }}</a></p>
    {% endif %}

{% endblock %}